<div class="header">
    <i
        class="trigger"
        nz-icon
        [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
        (click)="toggle()"
    ></i>

    <div class="user-section">
        <section class="header-action">
            <i nz-icon nzType="question-circle"></i>
        </section>

        <section
            class="header-action"
            nz-popover
            [nzPopoverTrigger]="'click'"
            [nzPopoverContent]="contentTemplate"
            nzPopoverPlacement="bottomRight"
        >
            <nz-badge [nzCount]="5">
                <i nz-icon nzType="bell"></i>
            </nz-badge>
        </section>

        <ng-template #contentTemplate>
            <nz-tabset>
                <nz-tab nzTitle="通知">
                    Content of Tab Pane 1
                </nz-tab>
                <nz-tab nzTitle="消息">
                    Content of Tab Pane 2
                </nz-tab>
                <nz-tab nzTitle="代办">
                    Content of Tab Pane 3
                </nz-tab>
            </nz-tabset>
        </ng-template>

        <section class="header-action" nz-dropdown [nzDropdownMenu]="menu">
            <nz-avatar [nzSize]="32" nzIcon="user"></nz-avatar>

            <span class="txt-username">Username</span>
        </section>
        <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu nzSelectable>
                <li nz-menu-item>
                    <i nz-icon nzType="user"></i>
                    <span>个人中心</span>
                </li>
                <li nz-menu-item>
                    <i nz-icon nzType="setting"></i>
                    <span>账户设置</span>
                </li>
                <li nz-menu-item>
                    <i nz-icon nzType="bulb"></i> <span>新功能</span>
                </li>
                <li nz-menu-divider></li>
                <li nz-menu-item>
                    <i nz-icon nzType="logout"></i>
                    <span>退出登录</span>
                </li>
            </ul>
        </nz-dropdown-menu>
    </div>
</div>
