<section>
    <section>
        <nz-card>
            <nz-breadcrumb>
                <nz-breadcrumb-item>首页</nz-breadcrumb-item>
                <nz-breadcrumb-item>表单页</nz-breadcrumb-item>
                <nz-breadcrumb-item>分步表单</nz-breadcrumb-item>
            </nz-breadcrumb>

            <h3 style="margin-top: 24px;">分步表单</h3>
            <div>
                将一个冗长或用户不熟悉的表单任务分成多个步骤，指导用户完成。
            </div>
        </nz-card>
    </section>

    <section class="step-form">
        <nz-card>
            <nz-steps [nzCurrent]="current">
                <nz-step nzTitle="填写转账信息"></nz-step>
                <nz-step nzTitle="确认转账信息"> </nz-step>
                <nz-step nzTitle="完成"></nz-step>
            </nz-steps>

            <section class="form-main">
                <section *ngIf="current == 0">
                    <div class="content">
                        <form nz-form>
                            <nz-form-item>
                                <nz-form-label
                                    nzHasFeedback
                                    nzSpan="5"
                                    nzRequired
                                    nzErrorTip="付款账户不能为空"
                                    >付款账户</nz-form-label
                                >
                                <nz-form-control nzSpan="18">
                                    <nz-select
                                        [ngModel]="'value'"
                                        name="email"
                                        nzPlaceHolder="请选择付款账户"
                                        nzAllowClear
                                    >
                                        <nz-option
                                            *ngFor="let item of list"
                                            [nzLabel]="item"
                                            [nzValue]="item"
                                        >
                                        </nz-option>
                                    </nz-select>
                                </nz-form-control>
                            </nz-form-item>
                            <nz-form-item>
                                <nz-form-label
                                    nzHasFeedback
                                    nzSpan="5"
                                    nzRequired
                                    nzErrorTip="收款账户不能为空"
                                    >收款账户</nz-form-label
                                >
                                <nz-form-control nzSpan="18">
                                    <nz-input-group
                                        nzCompact
                                        [nzAddOnBefore]="addOnBeforeTemp"
                                    >
                                        <ng-template #addOnBeforeTemp>
                                            <nz-select
                                                class="phone-select"
                                                name="method"
                                            >
                                                <nz-option
                                                    nzLabel="支付宝"
                                                    nzValue="支付宝"
                                                ></nz-option>
                                                <nz-option
                                                    nzLabel="微信"
                                                    nzValue="微信"
                                                ></nz-option>
                                            </nz-select>
                                        </ng-template>
                                        <input
                                            nz-input
                                            [(ngModel)]="nzSearch"
                                            id=" nzSearch"
                                            name=" nzSearch"
                                            placeholder=""
                                        />
                                    </nz-input-group>
                                </nz-form-control>
                            </nz-form-item>
                            <nz-form-item>
                                <nz-form-label
                                    nzHasFeedback
                                    nzSpan="5"
                                    nzRequired
                                    nzErrorTip="收款人名称必须核对"
                                    >收款人姓名</nz-form-label
                                >
                                <nz-form-control nzSpan="18">
                                    <input
                                        type="text"
                                        nz-input
                                        placeholder="请输入收款人姓名"
                                        name="receiver"
                                    />
                                </nz-form-control>
                            </nz-form-item>
                            <nz-form-item>
                                <nz-form-label
                                    nzHasFeedback
                                    nzSpan="5"
                                    nzRequired
                                    nzErrorTip="转账金额不能为空"
                                    >转账金额</nz-form-label
                                >
                                <nz-form-control nzSpan="18">
                                    <input
                                        type="text"
                                        nz-input
                                        placeholder="请输入收款金额"
                                        name="pay"
                                    />
                                </nz-form-control>
                            </nz-form-item>

                            <nz-form-item>
                                <nz-form-control nzSpan="4" [nzMd]="4">
                                    <button nz-button nzType="primary">
                                        下一步
                                    </button>
                                </nz-form-control>
                            </nz-form-item>
                        </form>
                    </div>
                    <nz-divider></nz-divider>

                    <section class="content">
                        <h4>说明</h4>
                        <div>转账到支付宝账户</div>
                        <div>
                            如果需要，这里可以放一些关于产品的常见问题说明。如果需要，这里可以放一些关于产品的常见问题说明。如果需要，这里可以放一些关于产品的常见问题说明。
                        </div>

                        <div>转账到银行卡</div>
                        <div>
                            如果需要，这里可以放一些关于产品的常见问题说明。如果需要，这里可以放一些关于产品的常见问题说明。如果需要，这里可以放一些关于产品的常见问题说明。
                        </div>
                    </section>
                </section>

                <section *ngIf="current == 1">
                    <div class="content">
                        <nz-alert
                            nzType="info"
                            nzMessage="确认转账后，资金将直接打入对方账户，无法退回。"
                        ></nz-alert>
                        <form nz-form style="margin-top: 40px;">
                            <nz-form-item>
                                <nz-form-label
                                    nzHasFeedback
                                    nzSpan="5"
                                    nzRequired
                                    nzErrorTip="付款账户不能为空"
                                    >付款账户</nz-form-label
                                >
                                <nz-form-control nzSpan="18">
                                    <nz-select
                                        [ngModel]="'value'"
                                        name="email"
                                        nzPlaceHolder="请选择付款账户"
                                        nzAllowClear
                                    >
                                        <nz-option
                                            *ngFor="let item of list"
                                            [nzLabel]="item"
                                            [nzValue]="item"
                                        >
                                        </nz-option>
                                    </nz-select>
                                </nz-form-control>
                            </nz-form-item>
                            <nz-form-item>
                                <nz-form-label
                                    nzHasFeedback
                                    nzSpan="5"
                                    nzRequired
                                    nzErrorTip="收款账户不能为空"
                                    >收款账户</nz-form-label
                                >
                                <nz-form-control nzSpan="18">
                                    <nz-input-group
                                        nzCompact
                                        [nzAddOnBefore]="addOnBeforeTemp"
                                    >
                                        <ng-template #addOnBeforeTemp>
                                            <nz-select
                                                class="phone-select"
                                                name="method"
                                            >
                                                <nz-option
                                                    nzLabel="支付宝"
                                                    nzValue="支付宝"
                                                ></nz-option>
                                                <nz-option
                                                    nzLabel="微信"
                                                    nzValue="微信"
                                                ></nz-option>
                                            </nz-select>
                                        </ng-template>
                                        <input
                                            nz-input
                                            [(ngModel)]="nzSearch"
                                            id=" nzSearch"
                                            name=" nzSearch"
                                            placeholder=""
                                        />
                                    </nz-input-group>
                                </nz-form-control>
                            </nz-form-item>
                            <nz-form-item>
                                <nz-form-label
                                    nzHasFeedback
                                    nzSpan="5"
                                    nzRequired
                                    nzErrorTip="收款人名称必须核对"
                                    >收款人姓名</nz-form-label
                                >
                                <nz-form-control nzSpan="18">
                                    <input
                                        type="text"
                                        nz-input
                                        placeholder="请输入收款人姓名"
                                        name="receiver"
                                    />
                                </nz-form-control>
                            </nz-form-item>
                            <nz-form-item>
                                <nz-form-label
                                    nzHasFeedback
                                    nzSpan="5"
                                    nzRequired
                                    nzErrorTip="转账金额不能为空"
                                    >转账金额</nz-form-label
                                >
                                <nz-form-control nzSpan="18">
                                    <input
                                        type="text"
                                        nz-input
                                        placeholder="请输入收款金额"
                                        name="pay"
                                    />
                                </nz-form-control>
                            </nz-form-item>

                            <nz-divider></nz-divider>
                            <nz-form-item>
                                <nz-form-label
                                    nzHasFeedback
                                    nzSpan="5"
                                    nzRequired
                                    nzErrorTip="支付密码不能为空"
                                    >支付密码</nz-form-label
                                >
                                <nz-form-control nzSpan="18">
                                    <input
                                        type="text"
                                        nz-input
                                        placeholder="请输入支付密码"
                                        name="password"
                                    />
                                </nz-form-control>
                            </nz-form-item>

                            <nz-form-item>
                                <nz-form-control nzSpan="4" [nzMd]="4">
                                    <button nz-button nzType="primary">
                                        下一步
                                    </button>
                                </nz-form-control>
                            </nz-form-item>
                        </form>
                    </div>
                </section>

                <section *ngIf="current == 2">
                    <div>
                        <nz-result
                            nzStatus="success"
                            nzTitle="转账成功"
                            nzSubTitle="预计两小时内到账"
                        >
                            <div
                                nz-result-content
                                style="width: 400px;margin: 0 auto;"
                            >
                                <div>
                                    <p>付款账户：ant-design@alipay.com</p>
                                    <p>收款账户：test@example.com</p>
                                    <p>收款人姓名：辉夜</p>
                                    <p>转账金额：500 元</p>
                                </div>
                            </div>
                            <div nz-result-extra>
                                <button nz-button nzType="primary">
                                    查看详情
                                </button>
                                <button nz-button>再转一笔</button>
                            </div>
                        </nz-result>
                    </div>
                </section>
            </section>
        </nz-card>
    </section>
</section>
