<div class="logo">
    <img src="https://ng.ant.design/assets/img/logo.svg" />
    <h1>NG-ZORRO</h1>
</div>
<ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
    <li nz-submenu nzTitle="仪表盘" nzIcon="dashboard">
        <ul>
            <li nz-menu-item [routerLink]="['/layout/dashboard/analysis']">
                分析页
            </li>
            <li nz-menu-item [routerLink]="['/layout/dashboard/monitor']">
                监控页
            </li>
            <li nz-menu-item [routerLink]="['/layout/dashboard/workspace']">
                工作台
            </li>
            <li nz-menu-item [routerLink]="['/layout/dashboard/test']">测试</li>
        </ul>
    </li>

    <li nz-submenu nzTitle="表单页" nzIcon="form">
        <ul>
            <li nz-menu-item [routerLink]="['/layout/form/base']">
                基础表单
            </li>
            <li nz-menu-item [routerLink]="['/layout/form/step-form']">
                分步表单
            </li>
            <li nz-menu-item [routerLink]="['/layout/form/advance']">
                高级表单
            </li>
        </ul>
    </li>
</ul>
