<section>
    <app-page-header
        [title]="'高级表单'"
        description="高级表单常见于一次性输入和提交大批量数据的场景。"
    ></app-page-header>

    <section class="advance-page">
        <nz-card nzTitle="仓库管理">
            <form nz-form>
                <div nz-row nzGutter="30">
                    <div nz-col nzSpan="8">
                        <nz-form-item>
                            <nz-form-label nzFor="" nzSpan="1-24" nzRequired
                                >仓库名</nz-form-label
                            >
                            <nz-form-control nzSpan="1-24">
                                <input type="text" nz-input />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col nzSpan="8">
                        <nz-form-item>
                            <nz-form-label nzFor="" nzSpan="1-24" nzRequired
                                >仓库名</nz-form-label
                            >
                            <nz-form-control nzSpan="1-24">
                                <input type="text" nz-input />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col nzSpan="8">
                        <nz-form-item>
                            <nz-form-label nzFor="" nzSpan="1-24" nzRequired
                                >仓库名</nz-form-label
                            >
                            <nz-form-control nzSpan="1-24">
                                <input type="text" nz-input />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col nzSpan="8">
                        <nz-form-item>
                            <nz-form-label nzFor="" nzSpan="1-24" nzRequired
                                >仓库名</nz-form-label
                            >
                            <nz-form-control nzSpan="1-24">
                                <input type="text" nz-input />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col nzSpan="8">
                        <nz-form-item>
                            <nz-form-label nzFor="" nzSpan="1-24" nzRequired
                                >仓库名</nz-form-label
                            >
                            <nz-form-control nzSpan="1-24">
                                <input type="text" nz-input />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col nzSpan="8">
                        <nz-form-item>
                            <nz-form-label nzFor="" nzSpan="1-24" nzRequired
                                >仓库名</nz-form-label
                            >
                            <nz-form-control nzSpan="1-24">
                                <input type="text" nz-input />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
            </form>
        </nz-card>
        <nz-card nzTitle="任务管理" class="mtp-24">
            <form nz-form>
                <div nz-row nzGutter="30">
                    <div nz-col nzSpan="8">
                        <nz-form-item>
                            <nz-form-label nzFor="" nzSpan="1-24" nzRequired
                                >仓库名</nz-form-label
                            >
                            <nz-form-control nzSpan="1-24">
                                <input type="text" nz-input />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col nzSpan="8">
                        <nz-form-item>
                            <nz-form-label nzFor="" nzSpan="1-24" nzRequired
                                >仓库名</nz-form-label
                            >
                            <nz-form-control nzSpan="1-24">
                                <input type="text" nz-input />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col nzSpan="8">
                        <nz-form-item>
                            <nz-form-label nzFor="" nzSpan="1-24" nzRequired
                                >仓库名</nz-form-label
                            >
                            <nz-form-control nzSpan="1-24">
                                <input type="text" nz-input />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col nzSpan="8">
                        <nz-form-item>
                            <nz-form-label nzFor="" nzSpan="1-24" nzRequired
                                >仓库名</nz-form-label
                            >
                            <nz-form-control nzSpan="1-24">
                                <input type="text" nz-input />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col nzSpan="8">
                        <nz-form-item>
                            <nz-form-label nzFor="" nzSpan="1-24" nzRequired
                                >仓库名</nz-form-label
                            >
                            <nz-form-control nzSpan="1-24">
                                <input type="text" nz-input />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col nzSpan="8">
                        <nz-form-item>
                            <nz-form-label nzFor="" nzSpan="1-24" nzRequired
                                >仓库名</nz-form-label
                            >
                            <nz-form-control nzSpan="1-24">
                                <input type="text" nz-input />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
            </form>
        </nz-card>
    </section>
</section>
